// =RIGHT
.col-right__body__store-buttons {
  display: flex;
  gap: 1.15rem;
  margin-top: 3.1rem;
}
.col-right__body__store-button {
  background: transparent;
  padding: unset;
  & > img {
    width: 14.9rem;
    height: 4.4rem;
    max-width: 149px;
    max-height: 44px;
  }
}
.col-right__body__store-button .button-text {
}
.col-right__body__store-button.apple {
}
.col-right__body__store-button.google {
}

// =LEFT
.col-left__container.sollicit {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2.6rem 0;
  @include xs-screen {
    height: 80%;
    padding-top: 6rem;
    transition: all 0.3s linear;
  }

  .col-left__wrapper {
    height: 100%;
    width: 67.7rem;
    border: solid red;
    position: relative;
    justify-content: unset;

    .col-left__prompt {
      width: 100%;
      height: 10.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.1rem;
      border-radius: 3.418rem;
      background: #262626;
      // position: absolute;
      // top: 2.5rem;
      // left: 2.1rem;
    }

    .col-left__prompt__image__wrapper {
    }

    .col-left__prompt__image {
    }

    .col-left__prompt__text {
      font-size: 1.8rem;
      font-weight: 500;
    }

    .col-left__logo {
      background-image: url('../../../assets/refer-logo.svg');
      background-position: center;
      background-size: cover;
      width: 8.464rem;
      height: 1.66rem;
      display: block;
      margin-bottom: 0.8rem;
    }

    .col-left__logo-slogon {
      font-size: 1.1rem;
      font-weight: 500;
    }

  }

}

