* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(100vw / 1512 * 10);
  @include xs-screen {
    font-size: calc(100vw / 375 * 10);
  }
}

body {
  background-color: $c-bg;
  color: #fff;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}
