@mixin gradient-text($angle, $from, $to) {
  background: linear-gradient($angle, $from, $to);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

$lg-screen-size: 1170px;
$md-screen-size: 992px;
$sm-screen-size: 767px;
$xs-screen-size: 575px;

@mixin lg-screen {
  @media only screen and (max-width: $lg-screen-size) {
    @content;
  }
}
@mixin md-screen {
  @media only screen and (max-width: $md-screen-size) {
    @content;
  }
}
@mixin sm-screen {
  @media only screen and (max-width: $sm-screen-size) {
    @content;
  }
}
@mixin xs-screen {
  @media only screen and (max-width: $xs-screen-size) {
    @content;
  }
}
