// =EXPANDED
.home-container.expanded {
  .col-left__container {
    // display: none;
    @include xs-screen {
      visibility: hidden;
      opacity: 0;
      height: 0%;
    }
  }
  .col-right__container {
    min-width: 117.1rem;
    flex-grow: 5;
    @include xs-screen {
      height: 100vh;
      min-width: unset;
    }
  }
  .col-righ__portion {
    display: none;
  }
  .col-right__wrapper {
    padding-left: 9.8rem;
    position: relative;
    // display: block;
    @include xs-screen {
      visibility: visible;
      opacity: 1;
      // padding: 9rem 1.6rem 0 1.6rem;
      padding: 0 1.6rem 0 1.6rem;
      display: flex;
      flex-direction: column;
    }
  }
  .col-right__header {
    // position: absolute;
    // top: 0;
    // left: 0;
    flex-grow: 2;
    @include xs-screen {
      flex-grow: unset;
    }
  }
  .col-right__header__button {
    // position: absolute;
    // top: 0;
    // left: 0;
    background: transparent;
    color: $c-white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    // margin-left: 2.2rem;
    margin-top: 2rem;
    & .back-arrow {
      margin-right: 1.05rem;
    }
  }
  .col-right__body {
    // margin-top: 9rem;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    @include xs-screen {
      margin: unset;
      order: 2;
      display: flex;
      flex-direction: column;
    }
  }
  .col-right__body__h {
    @include gradient-text(to right, $c-purple, $c-pink);
    @include xs-screen {
      margin-top: 6.2rem;
    }
  }
  .col-right__body__p {
    margin-top: 2.2rem;
    margin-bottom: 6.8rem;
    font-size: 1.6rem;
    white-space: pre;
    @include xs-screen {
      margin: unset;
      text-align: center;
      margin-top: 4.2rem;
    }
  }
  .col-right__expand {
    display: none;
    visibility: hidden;
  }
}

// NETWORK
.home-container.expanded {
  .col-right__body__network__container {
    display: block;
    position: absolute;
    top: 14.9rem;
    right: 4.4rem;
    width: 51.595rem;
    height: 37.112rem;
    background-image: url('../../../assets/expand-radial-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include xs-screen {
      position: initial;
      width: 100%;
      order: 1;
      height: 24.6rem;
      margin-top: 9.1rem;
    }
  }
  .col-right__body__network__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .col-right__body__network__img-wrapper {
    height: 29.267rem;
    width: 32.737rem;
    background-image: url('../../../assets/network.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    @include xs-screen {
      width: 21.7rem;
      height: 19.4rem;
      background-size: contain;
    }
  }
  .network__rectangle {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 0.15rem;
    @include xs-screen {
      gap: 0.1rem;
    }
  }
  .network__rectangle.upper {
    top: 7.4rem;
    left: 0;
    @include xs-screen {
      top: 4.5rem;
    }
  }
  .network__rectangle.bottom {
    bottom: 0;
    right: 0;
  }
  .network__rectangle__header {
    display: flex;
    align-items: center;
    margin-bottom: 0.15rem;
    padding-left: 1.74rem;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    border-top-right-radius: 0.607rem;
    border-top-left-radius: 0.607rem;
    -moz-box-shadow: inset 0 6.2px 6.2px rgba(255, 255, 255, 0.04);
    -webkit-box-shadow: inset 0 6.2px 6.2px rgba(255, 255, 255, 0.04);
    box-shadow: inset 0 6.2px 6.2px rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(4.033rem);
    background-color: rgba(255, 255, 255, 0.1);
    & > span {
      width: 1rem;
      height: 0.6rem;
      background-image: url('../../../assets/icons/mail_icon.svg');
      margin-right: 0.6rem;
    }
    @include xs-screen {
      margin-bottom: 0;
    }
  }
  .network__rectangle__body {
    display: flex;
    align-items: center;
    padding-left: 1.74rem;
    border-bottom-right-radius: 0.607rem;
    border-bottom-left-radius: 0.607rem;
    -moz-box-shadow: inset 0 6.2px 6.2px rgba(255, 255, 255, 0.04);
    -webkit-box-shadow: inset 0 6.2px 6.2px rgba(255, 255, 255, 0.04);
    box-shadow: inset 0 6.2px 6.2px rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(4.033rem);
    background-color: rgba(255, 255, 255, 0.1);
  }
  .network__rectangle__body__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .network__rectangle__body__text__main {
  }
  .network__rectangle__body__text__animated {
  }
  .network__rectangle__button {
    display: flex;
    border: none;
    border-radius: 12.6rem;
  }
}

// UPPER RECTANGLE
.home-container.expanded .network__rectangle.upper {
  @include xs-screen {
  }
  .network__rectangle__header {
    @include xs-screen {
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.6);
      padding: 0.3rem 0.7rem;
    }
  }
  .network__rectangle__body {
    padding-top: 1.509rem;
    padding-right: 2.156rem;
    padding-bottom: 0.7rem;
    padding-left: 1.012rem;
    margin-bottom: 0.6rem;
    @include xs-screen {
      display: flex;
      align-items: center;
      gap: 0.64rem;
      padding-top: 1rem;
      padding-right: 0.3rem;
      padding-bottom: 1.3rem;
      padding-left: 0.671rem;
      margin-bottom: 0.4rem;
    }
  }
  .network__rectangle__body__img {
    width: 1.944rem;
    height: 1.944rem;
    border-radius: 50%;
    margin-right: 0.94rem;
    @include xs-screen {
      width: 1.289rem;
      height: 1.289rem;
    }
  }
  .network__rectangle__body__text {
  }
  .network__rectangle__body__text__main {
    font-size: 1.659rem;
    font-weight: 400;
    @include xs-screen {
      font-size: 1.1rem;
    }
  }
  .network__rectangle__body__text__animated-mask {
    height: 3.3rem;
    overflow: hidden;
    @include xs-screen {
      height: 2.1rem;
    }
  }
  .network__rectangle__body__text__animated-container {
    display: block;
    animation-name: slide;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.27, 0.82, 0.28, 1.34);
    @keyframes slide {
      0% {
        margin-top: 0rem;
      }
      12.5% {
        margin-top: 0rem;
      }
      25% {
        margin-top: -3.3rem;
      }
      37.5% {
        margin-top: -3.3rem;
      }
      50% {
        margin-top: -6.6rem;
      }
      62.5% {
        margin-top: -6.6rem;
      }
      75% {
        margin-top: -9.9rem;
      }
      87.5% {
        margin-top: -9.9rem;
      }
      100% {
        margin-top: 0rem;
      }
    }
    @include xs-screen {
      animation-name: m-slide;
      @keyframes m-slide {
        0% {
          margin-top: 0rem;
        }
        12.5% {
          margin-top: 0rem;
        }
        25% {
          margin-top: -2.2rem;
        }
        37.5% {
          margin-top: -2.2rem;
        }
        50% {
          margin-top: -4.4rem;
        }
        62.5% {
          margin-top: -4.4rem;
        }
        75% {
          margin-top: -6.6rem;
        }
        87.5% {
          margin-top: -6.6rem;
        }
        100% {
          margin-top: 0rem;
        }
      }
    }
    & span {
      display: block;
      font-size: 2.565rem;
      font-weight: 700;
      @include xs-screen {
        font-size: 1.7rem;
      }
    }
    & #clients {
      @include gradient-text(to right, #7359ea, #16e7cf);
    }
    & #talents {
      @include gradient-text(to right, #b553e3, #3053e7);
    }
    & #investors {
      @include gradient-text(to left, #e730b4, #ffc42cfc);
    }
    & #partners {
      @include gradient-text(to left, #f93535, #ff00f5fc);
    }
  }
  .network__rectangle__button {
    align-self: start;
    display: flex;
    align-items: center;
    padding: 0.6rem 1.4rem;
    font-weight: 500;
    span {
      width: 1.095rem;
      height: 1.095rem;
      background-image: url('../../../assets/icons/paper_plane.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-right: 0.7rem;
      @include xs-screen {
        width: 0.726rem;
        height: 0.726rem;
      }
    }
    @include xs-screen {
      font-size: 0.9rem;
      padding: 0.3rem 0.8rem;
    }
  }
}
// BOTTOM REC
.home-container.expanded .network__rectangle.bottom {
  @include xs-screen {
  }
  .network__rectangle__header {
    padding-top: 0.604rem;
    padding-right: 6.262rem;
    padding-bottom: 0.41rem;
    padding-left: 1.184rem;
    font-size: 1.056rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    @include xs-screen {
      font-size: 1.1rem;
      text-transform: capitalize;
      padding: 0.3rem 0.8rem 0.3rem 0.7rem;
    }
  }
  .network__rectangle__body {
    margin-bottom: 0.6rem;
    height: unset;
    padding-top: 1.207rem;
    padding-right: 0.079rem;
    padding-bottom: 1.4rem;
    padding-left: 1.18rem;
    @include xs-screen {
      display: flex;
      padding: 0.9rem 0.8rem;
      margin: unset;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.4rem;
    }
  }
  .network__rectangle__body__text {
    font-size: 1.735rem;
    @include xs-screen {
      font-size: 1.2rem;
      white-space: nowrap;
    }
  }
  .network__rectangle__body__images {
    margin-right: 0.64rem;
    > img {
      @include xs-screen {
        width: 4.188rem;
        height: 1.772rem;
      }
    }
  }
  .network__rectangle__button {
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1.2rem;
    font-weight: 500;
    padding: 0.87rem 1.17rem;
    width: 9.203rem;
    height: 2.716rem;
    text-align: center;
    font-size: 1.358rem;
    @include xs-screen {
      font-size: 0.9rem;
      padding: 0.3rem 0.7rem;
      width: 6.1rem;
      height: 1.8rem;
    }
  }
}
