// --> Bottom control portion on mobile.
// ONLY ON MOBILE
.col-right__portion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4.5rem 2rem;
  transition: all 0.3s ease-in;
  & > h4 {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
  }
}

.portion__buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 1.3rem;
}

.portion__btn-left {
  background-color: #262626;
  color: $c-white;
  width: 16rem;
  padding: 1.5rem 2.6rem;
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 1.236rem;
  & > .icon {
    background-image: url('../../../assets/download_icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.878rem;
    height: 1.815rem;
  }
}

.portion__btn-right {
  background-color: $c-white;
  padding: 1.5rem 2.6rem;
  color: $c-black;
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 16rem;
  border-radius: 1.236rem;
  & > .icon {
    background-image: url('../../../assets/icons/arrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.766rem;
    height: 1.847rem;
    // transform: rotate(90deg);
  }
}
