@import './portion';
@import './_onExpand.scss';

.col-right__container {
  background: $c-black;
  height: 100vh;
  display: flex;
  width: 51.3rem;
  border-radius: 2rem;
  @include xs-screen {
    height: 28%;
    width: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
    transition: height 0.8s linear;
  }
}

.col-right__wrapper {
  width: 100%;
  padding: 5.8rem 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include xs-screen {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }
}

.col-right__logo {
  background-image: url('../../../assets/refer-logo.svg');
  background-position: center;
  background-size: cover;
  width: 15.3rem;
  height: 3rem;
  display: block;
  margin-bottom: 0.8rem;
}

.col-right__header {
}

.col-right__header__h {
  font-size: 6rem;
}

.col-right__header__p {
  font-size: 1.8rem;
  font-weight: 500;
}

.col-right__body {
}

.col-right__body__h {
  font-size: 3.6rem;
  font-weight: 700;
  display: inline-block;
  white-space: pre;
  // @include gradient-text(to right, $c-purple, $c-pink);
  @include xs-screen {
    font-size: 2.8rem;
    text-align: center;
  }
}

.col-right__body__btn {
  margin-top: 3.5rem;
  background: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  outline: none;
  padding: 16px 24px;
  background: linear-gradient($c-black, $c-black) padding-box,
    linear-gradient(to right, $c-purple, $c-pink) border-box;
  border-radius: 40px;
  border: 1.5px solid transparent;
  margin-right: auto;
  @include xs-screen {
    background: $c-white;
    color: $c-black;
    border-radius: 1.236rem;
    margin-right: unset;
  }
}

.col-right__expand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.1rem;
  width: 14.3rem;
  padding: 1.4rem 1.8rem;
  background-color: $c-white;
  color: $c-black;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 1.524rem;
  align-self: flex-end;
}

.col-right__expand__arrow {
  background-image: url('../../../assets/icons/arrow.svg');
  background-size: contain;
  background-position: center;
  height: 2.276rem;
  width: 2.177rem;
  display: inline-block;
}

.network__rectangle {
  display: none;
}

.home-container .col-right__body__network__container {
  display: none;
}
