.images-container {
  display: flex;
  margin-top: 3.3rem;
  height: 24.2rem;
  width: 27.8rem;
  position: relative;
  @include xs-screen {
    height: 17.433rem;
    width: 20.868rem;
    margin-top: 8rem;
  }
  &:first-child {
    flex-grow: 2;
  }
}

.image-wrapper {
  overflow: hidden;
  background-position: center;
  background-size: cover;
  height: 11.5em;
  width: 11.5rem;
  border-radius: 50%;
  display: inline-block;
  color: white;
  position: absolute;
  @include xs-screen {
    height: 8.654rem;
    width: 8.654rem;
  }
}

@for $i from 0 through 2 {
  [data-ref='#{$i}'] {
    @if $i == 0 {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    } @else if $i == 1 {
      bottom: 0;
      left: 0;
    } @else {
      bottom: 0;
      right: 0;
    }
  }
}

.dynamic-image {
  height: 100%;
  width: 100%;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
}
