.home-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  @include xs-screen {
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
}

.col-left__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  @include xs-screen {
    height: 80%;
    padding-top: 6rem;
    transition: all 0.3s linear;
  }

  .col-left__logo__container {
    position: absolute;
    top: 2.5rem;
    left: 2.1rem;
  }
  .col-left__logo {
    background-image: url('../../../assets/refer-logo.svg');
    background-position: center;
    background-size: cover;
    width: 8.464rem;
    height: 1.66rem;
    display: block;
    margin-bottom: 0.8rem;
  }
  .col-left__logo-slogon {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.home-container.expanded {
  .col-left__container {
    padding: 0 2rem;
  }
}

.col-left__wrapper {
  width: 73.3rem;
  height: 46.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-left__h {
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 4rem;
  background: linear-gradient(60deg, $c-purple, $c-pink);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @include xs-screen {
    font-size: 5.5rem;
    margin-bottom: 0;
  }
}

.col-left__p {
  text-align: center;
  font-size: 2.4rem;
  max-width: 39.5rem;
  color: $c-gray;
  @include xs-screen {
    font-size: 1.6rem;
    max-width: 27.3rem;
  }
}
